Funcionalidades de Tiempo y Fechas

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [3]:
pd.Timestamp(2019,12,20,0,0)

Timestamp('2019-12-20 00:00:00')

In [7]:
#el numero del dia de la semana q corresponde
pd.Timestamp(2024,1,24,0,0).isoweekday()

3

In [6]:
#podemos extraer los segundos
pd.Timestamp(2019,12,20,5,2,23).second

23

Period

In [8]:
#los periodos son tiempos fijos donde nos queremos enfatizar
pd.Period('1/2019')

Period('2019-01', 'M')

In [9]:
pd.Period('3/5/2016')

Period('2016-03-05', 'D')

In [10]:
#en los periodos podemos usar operaciones aritmeticas que se suman al mes
pd.Period('1/2019') + 5

Period('2019-06', 'M')

In [12]:
#tambien podemos restar
pd.Period('3/5/2016') - 2

Period('2016-03-03', 'D')

Indices de tiempo

In [13]:
#En este caso en particular observarmos que usamos las fechas como indices de nuestra serie
t1 = pd.Series(list('abc'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'), 
                             pd.Timestamp('2016-09-03')])
t1

2016-09-01    a
2016-09-02    b
2016-09-03    c
dtype: object

In [14]:
type(t1.index)

pandas.core.indexes.datetimes.DatetimeIndex

In [15]:
#y de la misma manera tambien podemos definir un periodo como indice
t2 = pd.Series(list('def'), [pd.Period('2016-09'), pd.Period('2016-10'), 
                             pd.Period('2016-11')])
t2

2016-09    d
2016-10    e
2016-11    f
Freq: M, dtype: object

In [16]:
type(t2.index)

pandas.core.indexes.period.PeriodIndex

Convirtiendo en Datetime

In [26]:
#como podemos observar el formato de las fechas varia de una a otra entonces pandas tiene una funcion que nos
#ayudara a poder transformar todas en el formato datetime
d1 = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']

# And just some random data
ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index=d1, 
                   columns=list('ab'))
ts3

               a   b
2 June 2013   55  86
Aug 29, 2014  19  35
2015-06-26    36  84
7/12/16       40  69

In [29]:
ts3.index = pd.to_datetime(ts3.index, format='%d %b, %Y', errors='coerce')
ts3

      a   b
NaT  55  86
NaT  19  35
NaT  36  84
NaT  40  69

In [30]:
#tambien podemos pasar otro tipo de valores y transformarlos en datetime

pd.to_datetime('4.7.12', dayfirst=True)

Timestamp('2012-07-04 00:00:00')

Time Delta

In [31]:
#si bien un periodo y un time delta son similares dado que con ambos podemos hacer operaciones aritmeticas 
#time delta nos indica otro tipo de criterios a la hora de hacer dichas operaciones como por ejemplo
pd.Timestamp('9/3/2016')-pd.Timestamp('9/1/2016')

Timedelta('2 days 00:00:00')

In [32]:
pd.Timestamp('9/2/2016 8:10AM') + pd.Timedelta('12D 3H')

Timestamp('2016-09-14 11:10:00')

Offset

Los offset al igual q los time delta nos permite hacer operaciones aritmeticas pero con un formato un poco diferente

In [33]:
pd.Timestamp('9/4/2016').weekday()

6

In [36]:
#nos revuelve el tiempo despues de una semana
pd.Timestamp('1/24/2024') + pd.offsets.Week()

Timestamp('2024-01-31 00:00:00')

In [35]:
#nos devuelve el tiempo estimado para el fin de mes
pd.Timestamp('9/4/2016') + pd.offsets.MonthEnd()

Timestamp('2016-09-30 00:00:00')

Trabajando con fechas en un dataframe

In [38]:
#podemos establecer un rango de fechas delimitadas por un periodo y que inicia cada dos semanas los domingos
dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
dates

DatetimeIndex(['2016-10-02', '2016-10-16', '2016-10-30', '2016-11-13',
               '2016-11-27', '2016-12-11', '2016-12-25', '2017-01-08',
               '2017-01-22'],
              dtype='datetime64[ns]', freq='2W-SUN')

In [39]:
#o un rango con dias seguidos
pd.date_range('10-01-2016', periods=9, freq='B')

DatetimeIndex(['2016-10-03', '2016-10-04', '2016-10-05', '2016-10-06',
               '2016-10-07', '2016-10-10', '2016-10-11', '2016-10-12',
               '2016-10-13'],
              dtype='datetime64[ns]', freq='B')

In [41]:
#o tambien mediante cuartiles(3 meses)
pd.date_range('04-01-2016', periods=12, freq='QS-JUN')

DatetimeIndex(['2016-06-01', '2016-09-01', '2016-12-01', '2017-03-01',
               '2017-06-01', '2017-09-01', '2017-12-01', '2018-03-01',
               '2018-06-01', '2018-09-01', '2018-12-01', '2019-03-01'],
              dtype='datetime64[ns]', freq='QS-JUN')

In [42]:
dates = pd.date_range('10-01-2016', periods=9, freq='2W-SUN')
df = pd.DataFrame({'Count 1': 100 + np.random.randint(-5, 10, 9).cumsum(),
                  'Count 2': 120 + np.random.randint(-5, 10, 9)}, index=dates)
df

            Count 1  Count 2
2016-10-02      105      124
2016-10-16      108      118
2016-10-30      112      125
2016-11-13      110      128
2016-11-27      119      118
2016-12-11      120      125
2016-12-25      119      127
2017-01-08      115      115
2017-01-22      119      126

In [44]:
#podemos observar que dia de la semana caen los indices
df.index.weekday

Index([6, 6, 6, 6, 6, 6, 6, 6, 6], dtype='int32')

In [45]:
#podemos observar la diferencia entre cada fecha
df.diff()

            Count 1  Count 2
2016-10-02      NaN      NaN
2016-10-16      3.0     -6.0
2016-10-30      4.0      7.0
2016-11-13     -2.0      3.0
2016-11-27      9.0    -10.0
2016-12-11      1.0      7.0
2016-12-25     -1.0      2.0
2017-01-08     -4.0    -12.0
2017-01-22      4.0     11.0

In [46]:
#de igual manera podemos conocer la media dadas las fechas
df.resample('M').mean()

               Count 1     Count 2
2016-10-31  108.333333  122.333333
2016-11-30  114.500000  123.000000
2016-12-31  119.500000  126.000000
2017-01-31  117.000000  120.500000

In [48]:
#podemos ubicar fechas mediante el indexado
df['2017']

KeyError: '2017'

In [49]:
df['2016-12']

KeyError: '2016-12'

In [50]:
df['2016-12':]

            Count 1  Count 2
2016-12-11      120      125
2016-12-25      119      127
2017-01-08      115      115
2017-01-22      119      126

In [51]:
df['2016']

KeyError: '2016'