In [247]:
import pandas as pd
import numpy as np

# Filter all warnings. If you would like to see the warnings, please comment the two lines below.
import warnings
warnings.filterwarnings('ignore')

In [248]:
data = pd.read_excel('Energy Indicators.xls', skiprows = 17, skipfooter =1)
Energy = pd.DataFrame(data)
Energy.drop(columns=['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)
Energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
Energy

            Country Energy Supply Energy Supply per Capita  % Renewable
0       Afghanistan           321                       10    78.669280
1           Albania           102                       35   100.000000
2           Algeria          1959                       51     0.551010
3    American Samoa           ...                      ...     0.641026
4           Andorra             9                      121    88.695650
..              ...           ...                      ...          ...
259             NaN           NaN                      NaN          NaN
260             NaN           NaN                      NaN          NaN
261             NaN           NaN                      NaN          NaN
262             NaN           NaN                      NaN          NaN
263             NaN           NaN                      NaN          NaN

[264 rows x 4 columns]

In [249]:
import re
def remove_numbers(country_name):
    if isinstance(country_name, str):
        return re.sub(r'\d+$', '', country_name)
    else:
        return country_name

Energy['Country'].apply(remove_numbers)

0         Afghanistan
1             Albania
2             Algeria
3      American Samoa
4             Andorra
            ...
259               NaN
260               NaN
261               NaN
262               NaN
263               NaN
Name: Country, Length: 264, dtype: object

In [250]:
Energy = Energy.replace( {'...' : np.nan})
Energy = Energy.iloc[:227]
Energy['Energy Supply'].apply(lambda x : x*1000000)

0      3.210000e+08
1      1.020000e+08
2      1.959000e+09
3               NaN
4      9.000000e+06
           ...
222    2.554000e+09
223    0.000000e+00
224    3.440000e+08
225    4.000000e+08
226    4.800000e+08
Name: Energy Supply, Length: 227, dtype: float64

In [251]:
Energy

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321.0,10.0,78.669280
1,Albania,102.0,35.0,100.000000
2,Algeria,1959.0,51.0,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9.0,121.0,88.695650
...,...,...,...,...
222,Viet Nam,2554.0,28.0,45.321520
223,Wallis and Futuna Islands,0.0,26.0,0.000000
224,Yemen,344.0,13.0,0.000000
225,Zambia,400.0,26.0,99.714670
226,Zimbabwe,480.0,32.0,52.536120

In [252]:
def change_name(dictionary):
    for old_name, new_name in dictionary.items():
        Energy.loc[Energy['Country'] == old_name, 'Country'] = new_name

values = {"Republic of Korea": "South Korea", "United States of America": "United States", 
               "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", 
               "China, Hong Kong Special Administrative Region": "Hong Kong"}

change_name(values)

In [253]:
def delete_char(country_name):
    return re.sub(r'\([^)]*\)', '', country_name)

Energy['Country'] = Energy['Country'].apply(delete_char)

In [254]:
data = pd.read_csv('world_bank.csv',skiprows=4)
GDP = pd.DataFrame(data)
GDP.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015'],
      dtype='object')

In [255]:
def changes_names_countries(renames):
    for name, rename in renames.items():
        GDP.loc[GDP['Country Name'] ==name, 'Country Name'] = rename


renames = {"Korea, Rep.": "South Korea",  "Iran, Islamic Rep.": "Iran", "Hong Kong SAR, China": "Hong Kong"}
changes_names_countries(renames)

GDP.rename(columns={'Country Name': 'Country'}, inplace=True)
GDP.columns

Index(['Country', 'Country Code', 'Indicator Name', 'Indicator Code', '1960',
       '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015'],
      dtype='object')

In [256]:
data = pd.read_excel('scimagojr-3.xlsx')
ScimEn = pd.DataFrame(data)
ScimEn.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

In [257]:
GDP.drop(['1960','1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004','2005'], axis=1, inplace=True)
GDP.columns

Index(['Country', 'Country Code', 'Indicator Name', 'Indicator Code', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object')

In [258]:
ScimEn.columns

Index(['Rank', 'Country', 'Documents', 'Citable documents', 'Citations',
       'Self-citations', 'Citations per document', 'H index'],
      dtype='object')

In [259]:
# Asegúrate de tener las columnas 'Country' en ambos DataFrames
ScimEn = ScimEn[:15]  # Tomando las primeras 15 filas como en tu código
final_df = pd.merge(pd.merge(ScimEn, Energy, how='left', on='Country'), GDP, how='left', on='Country')
final_df.drop(['Country Code','Country','Indicator Name', 'Indicator Code'], axis=1, inplace=True)
final_df.shape

(15, 20)

In [260]:
final_df.head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,1,127050,126767,597237,411683,4.70,138,NaN,NaN,NaN,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
1,2,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
2,3,30504,30287,223024,61554,7.31,134,NaN,NaN,NaN,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
3,4,20944,20357,206091,37874,9.84,139,NaN,NaN,NaN,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
4,5,18534,18301,34266,12422,1.85,57,30709.0,214.0,17.28868,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12

In [261]:
def answer_five():
    mean_energy_supply_per_capita = Energy['Energy Supply per Capita'].mean()
    return mean_energy_supply_per_capita

In [262]:
answer_five()

90.66666666666667

In [263]:
def answer_six():
    max_renewable = np.max(Energy['% Renewable'])
    country_max_renewable = Energy[Energy['% Renewable'] == max_renewable]['Country'].values[0]
    return (country_max_renewable, max_renewable)

In [264]:
answer_six()

('Albania', 100.0)

In [265]:
def answer_seven():
    # Crea la nueva columna 'Citations Ratio'
    ScimEn['Citations Ratio'] = ScimEn['Self-citations'] / ScimEn['Citations']
    
    # Encuentra la máxima ratio y el país correspondiente
    max_ratio = ScimEn['Citations Ratio'].max()
    country_max_ratio = ScimEn[ScimEn['Citations Ratio'] == max_ratio]['Country'].values[0]
    
    return (country_max_ratio, max_ratio)

In [266]:
answer_seven()

('China', 0.6893126179389422)

In [267]:
def answer_eight():
    # Crea la nueva columna 'Estimated Population'
    Energy['Estimated Population'] = Energy['Energy Supply'] / Energy['Energy Supply per Capita']
    
    # Encuentra el tercer país más poblado
    third_most_populous_country = Energy.sort_values(by='Estimated Population', ascending=False).iloc[2]['Country']
    
    return third_most_populous_country

In [268]:
answer_eight()

'United States of America20'

In [273]:
def answer_nine():
    # Crea la nueva columna 'Citable Documents per Capita'
    final_df['Citable Documents per Capita'] = final_df['Citable documents'] / (final_df['Energy Supply'] / final_df['Energy Supply per Capita'])
    
    # Calcula la correlación de Pearson
    correlation = final_df['Citable Documents per Capita'].corr(final_df['Energy Supply per Capita'])
    
    return correlation

In [274]:
answer_nine()

0.8849927064435059

In [288]:
def answer_ten():    
    # Calcula la mediana de la columna '% Renewable' para los países en el top 15
    median_renewable = final_df[final_df['Rank'] <= 15]['% Renewable'].median()
    
    print(median_renewable)
    aux = pd.read_excel('scimagojr-3.xlsx')
    ScimEn2 = pd.DataFrame(aux)
    
    new_df = pd.merge(ScimEn2, Energy, how='left', on='Country')    
    # Crea la nueva columna 'HighRenew' en ScimEn
    new_df['HighRenew'] = new_df['% Renewable'].apply(lambda x: 1 if x >= median_renewable else 0)
    print(new_df['% Renewable'])
    # Ordena el DataFrame ScimEn según el ranking y selecciona la columna 'HighRenew'
    HighRenew = new_df.sort_values(by='Rank')['HighRenew']

    return HighRenew

# Llama a la función
result_ten = answer_ten()
print(result_ten)

17.595105
0           NaN
1           NaN
2           NaN
3           NaN
4      17.28868
         ...
186     0.00000
187         NaN
188         NaN
189     0.00000
190     0.00000
Name: % Renewable, Length: 191, dtype: float64
0      0
1      0
2      0
3      0
4      0
      ..
186    0
187    0
188    0
189    0
190    0
Name: HighRenew, Length: 191, dtype: int64

In [289]:
final_df['% Renewable']

0           NaN
1           NaN
2           NaN
3           NaN
4     17.288680
5     61.945430
6     17.901530
7     14.969080
8           NaN
9      2.279353
10          NaN
11          NaN
12          NaN
13          NaN
14    69.648030
Name: % Renewable, dtype: float64

In [290]:
Energy.columns

Index(['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable',
       'Estimated Population'],
      dtype='object')

In [291]:
GDP.columns

Index(['Country', 'Country Code', 'Indicator Name', 'Indicator Code', '2006',
       '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015'],
      dtype='object')

In [292]:
ScimEn.columns

Index(['Rank', 'Country', 'Documents', 'Citable documents', 'Citations',
       'Self-citations', 'Citations per document', 'H index',
       'Citations Ratio'],
      dtype='object')

In [295]:
import pandas as pd

def answer_twelve():
    # Diccionario de continentes
    ContinentDict = {'China':'Asia', 
                     'United States':'North America', 
                     'Japan':'Asia', 
                     'United Kingdom':'Europe', 
                     'Russian Federation':'Europe', 
                     'Canada':'North America', 
                     'Germany':'Europe', 
                     'India':'Asia',
                     'France':'Europe', 
                     'South Korea':'Asia', 
                     'Italy':'Europe', 
                     'Spain':'Europe', 
                     'Iran':'Asia',
                     'Australia':'Australia', 
                     'Brazil':'South America'}

    new_df = pd.merge(ScimEn, Energy, how='left')
    new_df['Continent'] = new_df['Country'].map(ContinentDict)

    # Crea una nueva columna con las categorías (bins) de '% Renewable'
    new_df['Renewable Bin'] = pd.cut(new_df['% Renewable'], bins=5)

    # Agrupa por continente y las nuevas categorías '% Renewable'
    grouped_df = new_df.groupby(['Continent', 'Renewable Bin']).size()

    # Elimina los grupos que no tienen países
    grouped_df = grouped_df[grouped_df > 0]

    return grouped_df

len(answer_twelve())

4