MANEJO DE LISTAS

In [1]:
type("String")

str

In [2]:
type(None)

NoneType

In [3]:
x = (1,'a',2,'b')
type(x)

tuple

In [4]:
y = [1,2,3,'a']
type(y)

list

In [5]:
y.append(3)

In [6]:
y

[1, 2, 3, 'a', 3]

In [7]:
for item in y:
    print(item)

1
2
3
a
3

In [8]:
i = 0
while i < len(y):
    print(y[i])
    i+=1

1
2
3
a
3

In [9]:
[1,2] + [3,4]

[1, 2, 3, 4]

In [10]:
[1]*3

[1, 1, 1]

In [11]:
1 in [1,2,3]

True

In [14]:
n = "This is a string"
print(n[0])
print(n[0:1])
print(n[0:2])

T
T
Th

In [19]:
n[-4]

'r'

In [16]:
n[-4:-2]

'ri'

In [20]:
n[:3]

'Thi'

In [21]:
x

(1, 'a', 2, 'b')

In [22]:
n[3:]

's is a string'

In [28]:
cadena = "Dr.Christopher Brooks"
cadena[3:-7]
cadena[3:14]

'Christopher'

In [29]:
firstname = "Christopher"
lastname = "Brooks"

print(firstname + ' ' + lastname)
print(firstname * 3)
print('Chris' in  firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [32]:
firstname = "Christopher Hansen Arthur Brooks".split(' ')[0:2]
lastname = "Christopher Hansen Arthur Brooks".split(' ')[-1]
print(firstname)

['Christopher', 'Hansen']

In [33]:
x = {'Christopher Brooks' : 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks']

'brooksch@umich.edu'

In [42]:
x['hola'] = "nose"
print(x['hola'])

nose

In [37]:
for name in x.keys():
    print(name)

Christopher Brooks
Bill Gates
hola

In [38]:
for name in x.values():
    print(name)

brooksch@umich.edu
billg@microsoft.com
None

In [43]:
for name, email in x.items():
    print(name + ':' + email)

Christopher Brooks:brooksch@umich.edu
Bill Gates:billg@microsoft.com
hola:nose

In [44]:
x = ['Jhon', 'Juan', 'Luis']
name1, name2, name3 = x
name1

'Jhon'

In [45]:
name2

'Juan'