MANEJO DE FECHAS

In [3]:
import datetime as dt
import time as tm

In [4]:
tm.time()

1695185761.3875484

In [5]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2023, 9, 19, 23, 56, 53, 448218)

In [6]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2023, 9, 19, 23, 56, 53)

In [7]:
delta = dt.timedelta(days= 100)
delta

datetime.timedelta(days=100)

In [8]:
today = dt.date.today()
today

datetime.date(2023, 9, 19)

In [9]:
today-delta

datetime.date(2023, 6, 11)

In [24]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 
          'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    nombre = person.split(' ')
    titulo = nombre[0]
    apellido = nombre[-1]
    
    return '{} {}'.format(titulo,apellido)

list(map(split_title_and_name,people))

['Dr. Brooks', 'Dr. Collins-Thompson', 'Dr. Vydiswaran', 'Dr. Romero']