MANEJO DE PANDAS

In [1]:
import pandas as pd

In [2]:
#Creacion de series
students = ['Alice', 'Jack', 'Molly']
pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [4]:
#podmeos hacer lo mismo con una lista de numeros
#pero es recomendable usar las listas numpy para
#procesarlos de manera mas veloz
numbers = [1,2,3]

pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [5]:
#manejo de datos perdidos
students = ['Alice', 'Jack', None]
pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [6]:
#si nos falta un dato en una lista de numeros nos pone como NaN
numbers = [1,2,None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [7]:
#es importante entender que None y NaN no son iguales
import numpy as np

np.nan == None

False

In [8]:
#incluso NaN es diferente de NaN
np.nan == np.nan

False

In [10]:
#y podemos verificar que sea de tipo NaN gracias a la funcion is nan
np.isnan(np.nan)

#sin embargo es importante entender que NaN son diferentes dado que uno
#trata los numeros faltantes (nan) y otro las cadenas y es asi por razones 
#de eficiencia y manejo

True

In [14]:
students_scores = {'Alice' : 'Phisics',
                   'Jack' : 'Chemistry',
                   'Molly' : 'English'}

s = pd.Series(students_scores)
s

Alice      Phisics
Jack     Chemistry
Molly      English
dtype: object

In [17]:
s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [18]:
#como podemos ver las cadenas siempre tiene un tipo de dato
#dtype sin embargo esto se aplica para tipos de datos mas complejos
#tambien como tuplas y diccionarios
students = [('Alice', 'Brown'), ('Jack','White'),('Molly','Green')]
pd.Series(students)

0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [19]:
s = pd.Series(['Physics','Chemistry','English'], index=['Alice','Jack','Molly'])
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [20]:
#otro punto importante es cuando tenemos un indice con un valor
#faltante pandas le dara un valor ajustado al tipo de los demas (NaN o None)
students_scores = {'Alice': 'Physics',
                   'Jack': 'Chemistry',
                   'Molly' : 'English'}

s = pd.Series(students_scores, index=['Alice', 'Molly', 'Sam'])
s

Alice    Physics
Molly    English
Sam          NaN
dtype: object